#calendar {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
}

h1#calendar {
    font-size: 10px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    color: #ccc;
}