calendar {
            display: flex;
            flex-wrap: wrap;
        }

        section {
            margin: 10px;
        }

        h1 {
            font-size: 30px;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        td {
            border: 1px solid #ddd;
            padding: 50px;
            text-align: left;
            height: 10px;
        }

        td:first-child {
            color: red;
        }

        td:last-child {
            color: royalblue;
        }

        td.is-disabled {
            color: #ccc;
        }