/*============================================
全般的なスタイル
============================================*/
body {
	background-color:lightgray;	/*ページ全体の背景色*/		/*IE6以下でセンタリングするための対策*/
}
/*============================================
ヘッダ
============================================*/
div#back1{
	background-color: navy;
	margin:0;
	padding:0;
	border: 0;
}
hr#line1 {
	margin: 0;
	padding: 0;
	border-width: 10px;
	border-style: solid;
	border-color: red;
}
h1#title1{
	color: white;
	margin: 0;
	padding: 0;
	text-align: left;
}
.title2{
	text-align:center;
	font-size:24pt;
	color: black;
	font-weight: bold;
}
/*============================================
メインメニュー
============================================*/
ul{
	list-style:none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: #1b2538;
	display:block;				/*リンクをブロック表示にする*/
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}
/*=============================================*/
h1#news_head{
	font-size:24pt;
	text-align: center;
}
p#news{
	font-size:18pt;
	text-align: center;
}
h1#list{
	font-size:16pt;
	font-style: bold;
}
li#detail{
	font-size:12pt;
}


/*============================================
use calender
============================================*/
#calendar {
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}
p #reserve{
	text-align: center;
	font-size: 28pt;
}
section {
	margin: 10px;
}

h1#calendar1 {
	color:#0000ff;
	margin-left: 370px;
	margin-bottom: 10px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td {
	font-size: 30px;
	border: 1px solid rgb(0, 0, 0);
	padding: 20px;
	/* text-align: left; */
	height: 10px;
}

td:first-child {
	color: red;
}

td:last-child {
	color: royalblue;
}

td.is-disabled {
	color: rgb(255, 255, 255);
}

label, input[type='checkbox'] {
	cursor: pointer;
}
form#login{
	text-align:center;
}
.button {
	display: inline-block;
	margin: 0 auto;
  border-radius: 40px;
	font-size: 18px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.button:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
.form{
	text-align:center;
	font-size:18pt;
	font-style:bold;
}
.location{
	text-align:center;
	font-size:18pt;
	font-style:bold;
}
/*============================================
カレンダー形式
============================================*/
.move{
	text-align:center;
	font-size:16pt;
}
.center{
	text-align:center;
}
