/*============================================
全般的なスタイル
============================================*/
body {
	background-color:lightgray;	/*ページ全体の背景色*/		/*IE6以下でセンタリングするための対策*/
}
/*============================================
ヘッダ
============================================*/
div#back1{
	background-color: navy;
	margin:0;
	padding:0;
	border: 0;
}
hr#line1 {
	margin: 0;
	padding: 0;
	border-width: 10px;
	border-style: solid;
	border-color: red;
}
h1#title1{
	color: white;
	margin: 0;
	padding: 0;
	text-align: left;
}
/*============================================
メインメニュー
============================================*/
ul{
	list-style:none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: #1b2538;
	display:block;				/*リンクをブロック表示にする*/
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}
/*=============================================*/
h1#news_head{
	font-size:24pt;
	text-align: center;
}
p#news{
	font-size:18pt;
	text-align: center;
}
h1#list{
	font-size:16pt;
	font-style: bold;
}
li#detail{
	font-size:12pt;
}
form#login{
	text-align:center;
}
.form{
	text-align:center;
	font-size:24pt;
	font-style:bold;
}
.form2{
	text-align:center;
}
td#purpose{
	font-size: 14pt;
}
.btn-circle-border-simple {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.btn-circle-border-simple:hover {
  background: #b3e1ff;
}
/*============================================
サブメニュー（左カラム）
============================================*/
