/*============================================
全般的なスタイル
============================================*/
body {
	background-color:lightgray;	/*ページ全体の背景色*/		/*IE6以下でセンタリングするための対策*/
}
/*============================================
ヘッダ
============================================*/
h1#title1{
	color:#0000ff;
	margin-left:370px;
	margin-bottom: 10px;
	
}
hr#cp_hr04 {
	border-width: 3px;
	border-style: double;
	border-color: black;
}
/*============================================
メインメニュー
============================================*/
ul{
	list-style:none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: #1b2538;
	display:block;				/*リンクをブロック表示にする*/
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
	list-style:none;
	padding:0px;
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li#menu1 {
	width:250px; height:38px;	/*背景画像に合わせたサイズ指定*/
	background-color: #FFCC66;
	text-align: center;
	font-size: 18pt;
	border: 2px solid #fff;
	box-shadow: 0 0 0 2px #FFCC66;
	color: #0a8915;
	margin: 0;
		float:left;
/*background-image:url("images/bg_menu01.jpg");	/*背景画像*/
}
li#menu2 {
	width:250px; height:38px;	/*背景画像に合わせたサイズ指定*/
	font-size: 18pt;
	text-align: center;
	background-color: #cafbce;
	border: 2px solid #fff;
	box-shadow: 0 0 0 2px #cafbce;
	color: #0a8915;
	margin: 0;
	float:left;
	/*background-image:url("images/bg_menu02.jpg");	/*背景画像*/
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}
/*=============================================*/
h1#news_head{
	font-size:24pt;
	text-align: center;
}
p#news{
	font-size:18pt;
	text-align: center;
}
h1#list{
	font-size:16pt;
	font-style: bold;
}
li#detail{
	font-size:12pt;
}


/*============================================
use calender
============================================*/

#calendar {
	display: flex;
	flex-wrap: wrap;
}
p #reserve{
	text-align: center;
	font-size: 28pt;
}
section {
	margin: 10px;
}

h1#calendar1 {
	color:#0000ff;
	margin-left: 370px;
	margin-bottom: 10px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td {
	font-size: 30px;
	border: 1px solid rgb(0, 0, 0);
	padding: 20px;
	/* text-align: left; */
	height: 10px;
}

td:first-child {
	color: red;
}

td:last-child {
	color: royalblue;
}

td.is-disabled {
	color: rgb(255, 255, 255);
}

label, input[type='checkbox'] {
	cursor: pointer;
}
/*============================================
サブメニュー（左カラム）
============================================*/
