/*============================================
全般的なスタイル
============================================*/
body {
	background-color:lightgray;	/*ページ全体の背景色*/		/*IE6以下でセンタリングするための対策*/
}
/*============================================
ヘッダ
============================================*/
div#back1{
	background-color: navy;
	margin:0;
	padding:0;
	border: 0;
}
hr#line1 {
	margin: 0;
	padding: 0;
	border-width: 10px;
	border-style: solid;
	border-color: red;
}
h1#title1{
	color: white;
	margin: 0;
	padding: 0;
	text-align: left;
}
/*============================================
メインメニュー
============================================*/
ul{
	list-style:none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: #1b2538;
	display:block;				/*リンクをブロック表示にする*/
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}
/*=============================================*/
/*============================================
use calender
============================================*/
table {
	width: 80%;
	margin: 0 auto;
	max-width: 500px;
	border-spacing: 0;
	border-collapse: collapse;
}
td {
	font-size: 18px;
	border: 1px solid rgb(0, 0, 0);
	padding: 20px;
	/* text-align: left; */
	height: 8px;
}

.button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 2.0em 4.0em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
}

.button:hover {
  background: #1ec7bb;
}
.form{
	text-align:center;
	font-size:14pt;
	font-style:bold;
}
